.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.cotenedor-grid{
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}